*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Vollkorn";
}

header {
    // background-color: $brown-middle;
}
// main {
//     width: 100%;
//     padding-left: 32px;
//     padding-right: 32px;
//     max-width: 1500px;
//     margin: 0 auto;
// }

h2 {
    font-size: 3.5rem;
    color: $brown-middle;
    font-weight: 800;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.2rem;
    color: $white;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.subHeadline {
    font-size: 1.5rem;
    font-family: "Vollkorn";
    font-weight: 500;
    color: $white;
    margin-bottom: 4rem;
}

.subHeadlineProduct {
    font-size: 1.5rem;
    color: $brown-middle;
    font-family: "Vollkorn";
    font-weight: 500;
}

.subHeadlineWorkshop {
    font-size: 1.5rem;
    color: $brown-middle;
    font-family: "Vollkorn";
    font-weight: 500;
}

.subHeadlineFooter {
    font-size: 1.5rem;
    font-family: "Vollkorn";
    font-weight: 500;
    color: $white;
    margin-bottom: 2rem;
}

.footerBold {
    font-weight: 600;
}

p {
    font-family: "Work Sans";
    color: $white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.button {
    background-color: $green;
    border: 1px solid $brown-dark;
    color: $white;
    font-weight: 500;
    display: block;
    width: fit-content;
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
}

.button:hover {
    background-color: $green-dark;
}

.jobButton {
    border: 2px solid $white;
    color: $white;
    font-weight: 500;
    display: block;
    width: fit-content;
    padding: 12px 16px;
    font-size: 1.15rem;
    text-decoration: none;
    letter-spacing: 0.3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    transition: all 0.25s ease-in-out;
}

.jobButton:hover {
    border: 2px solid $grey;
    background-color: $white;
    color: $grey;
}

@include breakpoint(0, $mobile) {
    .super-headline {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.65rem;
    }
    h3 {
        font-size: 1.4rem;
        padding: 0.65rem 0rem 0.65rem 1.25rem;
    }
    .subHeadlineFooter {
        font-size: 1.5rem;
        font-family: "Vollkorn";
        font-weight: 500;
        color: $white;
        margin-bottom: 1rem;
    }
    .jobButton {
        font-size: 1rem;
    }
    .subHeadlineWorkshop {
        font-size: 1.5rem;
        color: $white;
        font-family: "Vollkorn";
        font-weight: 500;
    }
}
