// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;

// BREAKPOINTS
$mobile: 599;
$desktop: $mobile + 1;

// COLORS
$white: #ffffff;
$brown-dark: #532d15;
$brown-middle: #da923f;
$green: #3c690f;
$green-dark: #335b0c;
$grey: #282828;
