#products {
    width: 100%;
    background-color: $grey;
    padding: 7rem;
    .productsContainer {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .product {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            img {
                width: 420px;
                height: 280px;
                object-fit: cover;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            .productTextContainer {
                max-width: 440px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.8rem;
                padding: 1rem;
            }
        }
        .product:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}

@include breakpoint(0, $tablet) {
    #products {
        .productsContainer {
            .product:nth-child(even) {
                flex-direction: column;
            }
            .product:nth-child(odd) {
                flex-direction: column;
            }
        }
    }
}

@include breakpoint(0, $mobile) {
    #products {
        padding: 1rem;
        .productsContainer {
            .product {
                img {
                    width: 100%;
                }
            }
            .product:nth-child(even) {
                flex-direction: column;
            }
            .product:nth-child(odd) {
                flex-direction: column;
            }
        }
    }
}
